/**
 * Project Name: ha-cunkute
 * Description: Home Assistant with WebSocket by Keite Tran
 * Creator: Tran Ngoc Anh - VietVbb Team (Keite)
 * Email: mr.ngocanhtran.com@gmail.com
 * HomePage: https://facebook.com/mr.ngocanhtran
 */

// SCSS global variable
// ------------------------------
// $appBgColor1: rgb(11, 227, 223); //2c9f6f;
// $appBgColor2: rgb(00, 200, 250);
$appBgColor1: #27a6b9;
$appBgColor2: #27a6b9;
$appBgBorder1:#07588d;
$textColor: rgba(41, 41, 41, 1);
$btnColor: #0d968a;
$tableBorderColor: #f1f3f7;
$bgEllipseNum: 24;
$bodyBg: #f1f8ff;
$borderColor: rgba($gray-300, 0.6);
$mainColor:rgb(11, 227, 223);
$subColor:rgb(00, 200, 250);