<div class="col-2 item">
	<div class="block p-0">
		<div class="disabledPanel">
			<i class="fa fa-xxxxxxx"></i>
		</div>
		<div class="row no-gutters align-items-end">
			<div class="col icon" style="background-color: #2daae1;">
				<i class="fab fa-earlybirds"></i>
				<span>Đi ngủ</span>
			</div>
		</div>
	</div>
</div>
<div class="col-2 item">
	<div class="block p-0">
		<div class="disabledPanel">
			<i class="fa fa-xxxxxxx"></i>
		</div>
		<div class="row no-gutters align-items-end">
			<div class="col icon" style="background-color: #e6007e;">
				<i class="fas fa-sign-out-alt"></i>
				<span>Ra ngoài</span>
			</div>
		</div>
	</div>
</div>
<div class="col-2 item">
	<div class="block p-0">
		<div class="disabledPanel">
			<i class="fa fa-xxxxxxx"></i>
		</div>
		<div class="row no-gutters align-items-end">
			<div class="col icon" style="background-color: #f39200;">
				<i class="fas fa-microphone"></i>
				<span>My Voice</span>
			</div>
		</div>
	</div>
</div>
<div class="col-2 item">
	<div class="block p-0">
		<div class="disabledPanel">
			<i class="fa fa-xxxxxxx"></i>
		</div>
		<div class="row no-gutters align-items-end">
			<div class="col icon" style="background-color: #94c11f;">
				<i class="fas fa-thermometer-quarter"></i>
				<span>20,7°C</span>
			</div>
		</div>
	</div>
</div>
<div class="col-2 item">
	<div class="block p-0">
		<div class="disabledPanel">
			<i class="fa fa-xxxxxxx"></i>
		</div>
		<div class="row no-gutters align-items-end">
			<div class="col icon disabled" style="background-color: #936037;">
				<i class="fas fa-tint"></i>
				<span>40,5%</span>
			</div>
		</div>
	</div>
</div>
<div class="col-2 item">
	<div class="block p-0">
		<div class="disabledPanel">
			<i class="fa fa-xxxxxxx"></i>
		</div>
		<div class="row no-gutters align-items-end">
			<div class="col icon" style="background-color: #662483;">
				<i class="fas fa-cogs"></i>
				<span>Cài đặt</span>
			</div>
		</div>
	</div>
</div>