<div class="col-2 item" data-entity="input_boolean.system_sleep_mode" data-state="disabled">
	<div class="block p-0">
		<div class="disabledPanel">
			<i class="fa fa-xxxxxxx"></i>
		</div>
		<div class="row no-gutters align-items-end">
			<div class="col icon">
				<i class="fab fa-earlybirds"></i>
				<span>Đi ngủ</span>
			</div>
		</div>
	</div>
</div>
<div class="col-2 item" data-entity="" data-state="disabled">
	<div class="block p-0">
		<div class="disabledPanel">
			<i class="fa fa-xxxxxxx"></i>
		</div>
		<div class="row no-gutters align-items-end">
			<div class="col icon">
				<i class="fas fa-sign-out-alt"></i>
				<span>Ra ngoài</span>
			</div>
		</div>
	</div>
</div>
<div class="col-2 item" data-entity="" data-state="disabled">
	<div class="block p-0">
		<div class="disabledPanel">
			<i class="fa fa-xxxxxxx"></i>
		</div>
		<div class="row no-gutters align-items-end">
			<div class="col icon">
				<i class="fas fa-microphone"></i>
				<span>My Voice</span>
			</div>
		</div>
	</div>
</div>
<div class="col-2 item" data-entity="" data-state="disabled">
	<div class="block p-0">
		<div class="disabledPanel">
			<i class="fa fa-xxxxxxx"></i>
		</div>
		<div class="row no-gutters align-items-end">
			<div class="col icon">
				<i class="fas fa-thermometer-quarter"></i>
				<span>20,7°C</span>
			</div>
		</div>
	</div>
</div>
<div class="col-2 item" data-entity="" data-state="disabled">
	<div class="block p-0">
		<div class="disabledPanel">
			<i class="fa fa-xxxxxxx"></i>
		</div>
		<div class="row no-gutters align-items-end">
			<div class="col icon disabled">
				<i class="fas fa-tint"></i>
				<span>40,5%</span>
			</div>
		</div>
	</div>
</div>
<div class="col-2 item" data-entity="" data-state="disabled">
	<div class="block p-0">
		<div class="disabledPanel">
			<i class="fa fa-xxxxxxx"></i>
		</div>
		<div class="row no-gutters align-items-end">
			<div class="col icon">
				<i class="fas fa-cogs"></i>
				<span>Cài đặt</span>
			</div>
		</div>
	</div>
</div>