<div class="block">
	<div class="row no-gutters iconList">
		<div class="col-2 temperature">
			<span class="icon yellow">
				<i class="wi wi-thermometer" data-toggle="ctooltip" data-placement="bottom" title="Nhiệt độ trong nhà"></i>
				<span class="value">?ºC</span>
			</span>
		</div>
		<div class="col-2 thermometer active">
			<span class="icon">
				<i class="wi wi-thunderstorm" data-toggle="ctooltip" data-placement="bottom" title="Nhiệt độ ngoài trời"></i>
				<span class="value">20ºC</span>
			</span>
		</div>
		<div class="col-2 humidity">
			<span class="icon">
				<i class="wi wi-humidity" data-toggle="ctooltip" data-placement="bottom" title="Độ ẩm trong nhà"></i>
				<span class="value">?%</span>
			</span>
		</div>
		<div class="col-2 gas">
			<span class="icon">
				<i class="wi wi-smog" data-toggle="ctooltip" data-placement="bottom" title="Cảm biến dò GAS"></i>
				<span class="value">OK</span>
			</span>
		</div>
		<div class="col-2 smoke">
			<span class="icon">
				<i class="wi wi-fire" data-toggle="ctooltip" data-placement="bottom" title="Cảm biến khói"></i>
				<span class="value">OK</span>
			</span>
		</div>
		<div class="col-2 rain">
			<span class="icon">
				<i class="wi wi-rain-mix" data-toggle="ctooltip" data-placement="bottom" title="Cảm biến mưa"></i>
				<span class="value">OK</span>
			</span>
		</div>

	</div>
	<div class="row no-gutters">
		<div class="col-12 topWidgetChart">
			<canvas id="topWidgetChart" width="400" height="400"></canvas>
		</div>
	</div>
</div>