<!-- Loadding modal -->
<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-body">
			<span class="svg">
				<svg class="loadding" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" style="background: none;">
					<circle cx="50" cy="50" r="40" stroke-width="5" stroke-dasharray="62.83185307179586 62.83185307179586" transform="rotate(288 50 50)">
						<animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;360 50 50" keyTimes="0;1" dur="2.5s"
						  begin="0s" repeatCount="indefinite"></animateTransform>
					</circle>
					<circle cx="50" cy="50" r="34" stroke-width="5" stroke-dasharray="53.40707511102649 53.40707511102649" stroke-dashoffset="53.40707511102649"
					  transform="rotate(-288 50 50)">
						<animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;-360 50 50" keyTimes="0;1" dur="2.5s"
						  begin="0s" repeatCount="indefinite"></animateTransform>
					</circle>
				</svg>
			</span>
			<span class="text">Loadding...</span>
		</div>
	</div>
</div>