<!-- Login Modal -->
<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-body">
			<div class="avatar text-center">
				<i class="fas fa-user"></i>
			</div>
			<div class="row mt-3">
				<div class="col-12">
					<label>Login to system</label>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text">
								<i class="far fa-keyboard"></i>
							</span>
						</div>
						<input type="text" class="form-control" name="txtPassword">
					</div>
				</div>
			</div>
			<div class="col-12 p-0">
				<button class="btn btn-info btn-block" name="btnLogin">LOGIN</button>
			</div>
		</div>
	</div>
</div>