<!--Air conditioner control modal-->
<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<div class="col dt-text">Cài đặt</div>
		</div>
		<div class="modal-body p-0">
			<ul class="list-group" style="border:0;">
				<li class="list-group-item">
					<span class="icon">
						<i class="fas fa-microphone"></i>
					</span>
					<span class="text">Giọng nói</span>
					<label class="chk-toggle">
						<input class="chk-input" type="checkbox" data-device="" data-field="state">
						<span class="chk-round"></span>
					</label>
				</li>
				<li class="list-group-item">
					<span class="icon">
						<i class="fas fa-hdd"></i>
					</span>
					<span class="text">Khởi động lại HA</span>
					<label class="chk-toggle">
						<input class="chk-input" type="checkbox" data-device="" data-field="state">
						<span class="chk-round"></span>
					</label>
				</li>
				<li class="list-group-item">
					<span class="icon">
						<i class="fas fa-cogs"></i>
					</span>
					<span class="text">Reload config</span>
					<label class="chk-toggle">
						<input class="chk-input" type="checkbox" data-device="" data-field="state">
						<span class="chk-round"></span>
					</label>
				</li>
			</ul>
		</div>
		<div class="modal-footer">
			<div class="col-12">
				<button class="btn btn-block btn-lg btn-primary" data-dismiss="modal">Hoàn tất cài đặt</button>
			</div>
		</div>
	</div>
</div>